
.DS_Store

## XCODE USER SETTINGS ------->
			# + + + +
				xcuserdata/

## OBJ-C/SWIFT SPECIFIC ------->
			# + + + +
				*.hmap

## APP PACKAGING --------->
			# + + + +
				*.ipa
				*.dSYM.zip
				*.dSYM

## PLAYGROUNDS -------->
			# + + + +
				timeline.xctimeline
				playground.xcworkspace

## SWIFT PACKAGE MANAGER ----->	Add these lines if you want to AVOID checking in source #code from Swift Package Manager dependencies:
			# Packages/
			# Package.pins
			# Package.resolved
			# *.xcodeproj

## Xcode AUTOMATICALLY GENERATES this directory with a .xcworkspacedata file and #xcuserdata hence it is NOT NEEDED unless you have added a package configuration file to #your project --------->
			# .swiftpm

## ALWAYS IGNORE:
				# + + + +
					.build/

